.navbar {
  display: flex;
  height: 50px;
  width: 100%;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);

  &__header {
    margin-left: 10px;
    font-size: 24px;
    color: aliceblue;
    font-weight: 700;


  }

  &__login {
    margin-left: auto;
    margin-right: 20px;

    a {
      text-decoration: none;
      color: #e2e8f0;
    }
  }

  &__registration {
    a {
      text-decoration: none;
      color: #e2e8f0;
    }
  }
  &__search {
    width: 200px;
    margin-left: 30px;
    color: white;
  }
  &__ava {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

.container {
  width: 1140px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}